---
{{- $rbacrepo := required "ERROR: .Values.rbac_repo is required for security and must be explicitly set." .Values.rbac_repo }}
{{- $rbacrepotoken := required "ERROR: .Values.rbac_repo_token is required for security and must be explicitly set." .Values.rbac_repo_token }}
{{- $rbacrepo := .Values.rbac_repo }}
{{- $rbacrepotoken := .Values.rbac_repo_token }}

apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: rbac
data:
  RBACRepo: {{ $rbacrepo | b64enc }}
  RBACRepoToken: {{ $rbacrepotoken | b64enc }}
