# chart/pdvd-backend/templates/secret.yaml
---
{{- $rbacrepo := required "ERROR: .Values.rbac_repo is required for security and must be explicitly set." .Values.rbac_repo }}
{{- $rbacrepotoken := required "ERROR: .Values.rbac_repo_token is required for security and must be explicitly set." .Values.rbac_repo_token }}

apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: rbac
data:
  RBACRepo: {{ $rbacrepo | b64enc }}
  RBACRepoToken: {{ $rbacrepotoken | b64enc }}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: github-creds
data:
  ApiBaseUrl: {{ .Values.apiBaseUrl | b64enc | quote }}
  BaseUrl: {{ .Values.baseUrl | b64enc | quote }}
  AppName: {{ .Values.github.appName | b64enc | quote }}
  AppId: {{ .Values.github.appId | b64enc | quote }}
  ClientId: {{ .Values.github.clientId | b64enc | quote }}
  ClientSecret: {{ .Values.github.clientSecret | b64enc | quote }}
  PrivateKey: {{ .Values.github.privateKey | b64enc | quote }}
---
{{- if .Values.smtp.enabled }}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: smtp-config
data:
  SMTPHost: {{ .Values.smtp.host | b64enc | quote }}
  SMTPPort: {{ .Values.smtp.port | b64enc | quote }}
  SMTPUsername: {{ .Values.smtp.username | b64enc | quote }}
  SMTPPassword: {{ .Values.smtp.password | b64enc | quote }}
  SMTPFromEmail: {{ .Values.smtp.fromEmail | b64enc | quote }}
  SMTPFromName: {{ .Values.smtp.fromName | b64enc | quote }}
{{- end }}