# chart/pdvd-backend/templates/secret.yaml
---
{{- $rbacrepo := required "ERROR: .Values.rbac_repo is required for security and must be explicitly set." .Values.rbac_repo }}
{{- $rbacrepotoken := required "ERROR: .Values.rbac_repo_token is required for security and must be explicitly set." .Values.rbac_repo_token }}

apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: rbac
data:
  RBACRepo: {{ $rbacrepo | b64enc }}
  RBACRepoToken: {{ $rbacrepotoken | b64enc }}
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: github
stringData:
  GITHUB_APP_ID: {{ .Values.github.appId | quote }}
  GITHUB_APP_NAME: {{ .Values.github.appName | quote }}
  GITHUB_CLIENT_ID: {{ .Values.github.clientId | quote }}
  GITHUB_CLIENT_SECRET: {{ .Values.github.clientSecret | quote }}
  GITHUB_PRIVATE_KEY: {{ .Values.github.privateKeyFile | quote }}